* {
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

main {
    background-color: darkslateblue;
    width: 90%;
    height: 85vh;
    margin: auto auto;
    border-radius: 30px;
    padding: 0;
}

.main-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.player {
    
    background-color: rgb(214, 227, 248);
    width: 82%;
    height: 83vh;
    position: relative;
    top: 7px;
    left: 2%;
    border-radius: 25px;
    padding: 2px;
}

.details{
    margin: auto 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    
}
.music-name{
    font-weight: 350;
}

.sidebar {
    /* background-color: brown; */
    width: 15%;
    height: 82vh;
    position: relative;
    top: 10px;
    left: 1%;
    border-radius: 25px;
    padding: 2px;
}

.nav-btn {
    width: 40px;
    display: block;
    margin: 40px auto;
}

.nav-btn:first-child {
    padding-bottom: 100px;
}

@media only screen and (min-width: 992px) {
    main {
        background-color: darkslateblue;
        width: 60%;
        height: 85vh;
        margin: auto auto;
        border-radius: 30px;
        padding: 0;
    }
    .player {
        background-color: aliceblue;
        width: 81%;
        height: 83vh;
        position: relative;
        top: 7px;
        left: 3%;
        border-radius: 30px;
        padding: 2px;
    }
}

.disk {
    position: relative;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url('./fantasy-4073144_1280.jpg');
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(32, 13, 240, 0.329);
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
}

.disk.play{
    animation-play-state: running ;
}

.disk::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(214, 227, 248);
}

.slider {
    width: 90%;
    position: relative;
    left: 30px;
}

.seek-bar {
    -webkit-appearance: none;
    width: 100%;
    margin-left: 0;
    height: 5px;
    border-radius: 10px;
    background: purple;
    cursor: pointer;
    overflow: hidden;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 10px;
    background-color: rgb(206, 205, 205);
    box-shadow: -400px 0 0 400px rgb(148, 126, 151);
}

.current-time,
.song-duration {
    font-size: 14px;
}

.song-duration {
    position: absolute;
    right: 0;
}

.controls {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: grey;
    cursor: pointer;
    border: none;
}

.play-btn span {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(220, 98, 236);
    transition: .5s;
}

.play-btn span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause {
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0;
    }
    50% {
        box-shadow: 0 0 0 5px grey ;
    }
}

.btn{
    width: 40px;
    height: 40px;
    background: grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.btn img{
    width: 20px;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}